@charset "utf-8";

/* ============================== */
/* 
	Title: Celegorm - Responsive Landing Page
	Color: Orange
*/
/* ============================== */

.webui-popover-inverse {
    background-color: #e45212;
    color: #fff;
}
.webui-popover-inverse.right > .arrow, .webui-popover-inverse.right-top > .arrow, .webui-popover-inverse.right-bottom > .arrow, .webui-popover-inverse.right > .arrow:after, .webui-popover-inverse.right-top > .arrow:after, .webui-popover-inverse.right-bottom > .arrow:after {
    border-right-color: #e45212;
}
section.pricing .pricing-table li:hover i.fa-info-circle {
    color: #e45212;
}
.bg_color2{
    background-color: #e45212;
}

header .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #e45212;
}

header .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #e45212;
}

section.newsletter{
    background-image: url("../../img/bg_notified-orange.png");
	background-color: #e45212;
}

section.newsletter form .btn-custom, section.cta a {
    background-color: #9e3400;
}

section.newsletter form .btn-custom:hover, section.cta a:hover{
	 background-color: #cc4300;
}

span.underline {
    background-color: #e45212;
}

section.features .services li .service:hover .service_description h4{
    color: #e45212;
}

section.features .services li .service:hover .service_description p{
    color: #e45212;
}

.content_info .control_info li a:hover i{
    color: #e45212;
}

section.pricing .pricing-table a.btn-box:hover {
    background-color: #e45212;
}

section.pricing .pricing-table .box_span:hover .nav-stacked:not(.features) li.nav-header{
    background: #e45212;
}

section.testimonials h5{
    color: #e45212;
}

.content_info .list_info li{
    color: #e45212;
}

section.testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover, section.testimonials .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: none repeat scroll 0 0 #e45212;
}

section.quote .autor_quote{
    border-bottom-color: #e45212;
    border-top-color: #e45212;
}

section.team .content_team .social_member li a:hover{
    background: #e45212;
}

section.slider .container-fluid .console a.link_demo{
    background: #e45212;
	border: 7px solid rgb(255, 84, 0);
}

section.slider .container-fluid .console a.link_demo:hover{
    border: 7px solid rgba(255, 84, 0, .5);
}

section.cta{
	background-color:#e45212;
	background-image: url("../../img/bg_notified-orange.png");
}

ul.social-circled li:hover a {
    color: #e45212;
}

footer .content_twitter .jtwt_date{
    color: #e45212;
}


/*Images*/

.rslides_nav.next{
    background-image: url("../../img/slider/arrows/next-orange.png");
}

.rslides_nav.prev{
	background-image: url("../../img/slider/arrows/prev-orange.png");
}

.content_info h5.sub_title{
	background-image: url("../../img/small-title-line-orange.png");
}

section.gallery a.mb-scrollButtons.mb-right{
    background-image: url("../../img/slider/arrows/next-orange.png");
}

section.gallery a.mb-scrollButtons.mb-left{
    background-image: url("../../img/slider/arrows/prev-orange.png");
}

footer .bx-wrapper a.bx-prev{
	background-image: url("../../img/slider_twitter/prev-orange.png");
}

footer .bx-wrapper a.bx-next {
	background-image: url("../../img/slider_twitter/next-orange.png");
}
    















